body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 1080px;
    background: linear-gradient(225deg, rgba(255, 75, 0, 1) 0%, rgba(255, 255, 0, 1) 60%, rgba(0, 255, 17, 1) 100%);
    font-family: "Arial Rounded MT Bold";
    color: white;
    overflow: hidden;
}

div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    position: fixed;
}

p,
h1,
h2 {
    text-align: center;
}

button {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    border-radius: 8px;
    vertical-align: middle;
    justify-content: center;
    font-family: "Arial Rounded MT Bold";
    margin-right: auto;
}

a {
    color: #0080ff;
}

input,
textarea {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    border-radius: 8px;
    vertical-align: middle;
    justify-content: center;
    font-family: "Arial Rounded MT Bold";
    margin-right: auto;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}