body {
    background-image: url("/cdn/png/BackgroundUI.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Arial Rounded MT Bold";
    color: white;
}

div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

p, 
h1, 
h2 {
    text-align: center;
}

button {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    border-radius: 8px;
    font-family: "Arial Rounded MT Bold";
    margin-right: auto;
}

a {
    color: #0080ff;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}