.swagger-ui .topbar {
    background: #ff4b00;
    background: -moz-linear-gradient(left, #ff4b00 0%, #ffff00 50%, #00ff00 100%);
    background: -webkit-linear-gradient(left, #ff4b00 0%, #ffff00 50%, #00ff00 100%);
    background: -o-linear-gradient(left, #ff4b00 0%, #ffff00 50%, #00ff00 100%);
    background: linear-gradient(to right, #ff4b00 0%, #ffff00 50%,  #00ff00 100%);
}

.swagger-ui img[alt="EfazDev"] {
    content: url("https://cdn.efaz.dev/cdn/png/logo.png");
    width: 48px;
    height: 48px;
}

.swagger-ui img[alt="Swagger UI"] {
    content: url("https://cdn.efaz.dev/cdn/png/logo.png");
    width: 48px;
    height: 48px;
}